

/*------------ Navigation starts ---------------*/   

@media  (max-width:1260px) {
    nav ul li a{
        padding: 0 15px;
    }
}

/*======== nav responsive starts ===========*/
@media  (max-width:1000px) {
     nav ul li a{
        letter-spacing: 0;
        font-size: 11px;
        padding: 0 7px;
    }
}
/*========= width 850px ==========*/
@media  (max-width:850px) {
    .searchTop{
        display: none;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        height: 100%;
        align-items: center;
        margin-left: auto;
    }

    header nav ul {
        height: 100vh;
        display: block;
    }
    header nav ul li{
        padding: 15px 0;
    }
    .nav-container{
        width: 100%;
        padding: 10px 5px;
    }
    .container{
        width: 90%;
    }
    .hideOnMobile{
        display: none;
    }
}

@media(max-width:768px){
    .left-articale{
        width: 100%;
    }
    .right-articale{
        width: 100%;
    }
    .left-content{
        width: 100%;
        margin: 0;
        float: none;
    }
}


@media(max-width:510px){
    .gallery-photos img{
        width: 100px;
        height: 100px;
    }
}


@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}